/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  line-height: 1.6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #111;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #e60000;
}

.instagram-icon {
  color: #fff;
  font-size: 24px;
  transition: color 0.3s ease;
}

.instagram-icon:hover {
  color: #E4405F;
}

.nav {
  display: flex;
  gap: 15px;
}

.nav a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #e60000;
}

.main {
  padding: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.product {
  background: #222;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.product img {
  max-width: 100%;
  border-radius: 10px;
}

.product h3 {
  margin: 10px 0;
  font-size: 18px;
  color: #fff;
}

.price {
  font-size: 16px;
  color: #00ff00;
}

.old-price {
  text-decoration: line-through;
  color: #888;
  margin-right: 5px;
}

.banner {
  text-align: center;
  margin: 20px 0;
}

.banner img {
  max-width: 100%;
  border-radius: 10px;
}

.banner h2 {
  margin: 15px 0;
  font-size: 24px;
  color: #fff;
}

.footer {
  text-align: center;
  padding: 10px 20px;
  background: #111;
  margin-top: 20px;
}

.footer p {
  color: #888;
}

/* video Modal styles */
.video-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* --- Media Queries --- */

/* للشاشات الصغيرة (الهواتف) */
@media (max-width: 768px) {
  .header {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .logo-container {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .logo {
    font-size: 22px;
  }

  .instagram-icon {
    font-size: 22px;
  }

  .nav {
    gap: 10px;
  }

  .nav a {
    font-size: 18px;
  }
}

/* للشاشات الكبيرة (أجهزة الكمبيوتر) */
@media (min-width: 1024px) {
  .header .logo {
    font-size: 28px;
  }

  .instagram-icon {
    font-size: 24px;
  }

  .nav a {
    font-size: 24px;
  }
}
